<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :publicly_listed %>
    <%= f.check_box :publicly_listed %>
  </div>
  <div class="field">
    <%= f.label :publicly_readable %>
    <%= f.check_box :public_read %>
  </div>
  <div class="field">
    <%= f.label :publicly_postable %>
    <%= f.check_box :public_thread_create %>
  </div>
  <div class="field">
    <%= f.label :publicly_commentable %>
    <%= f.check_box :public_thread_reply %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
