<div class="well">
  <h1 class="text-center">Welcome to Blueit!</h1>
  <h3 class="text-center">Make your own message board!</h3>
</div>

<div class="row-fluid">
  <section class="span9">
    <%= will_paginate @boards %>
    <% @boards.each do |board| %>
      <article class="thread-box board-entry well">
        <ul class="inline">
          <li class="board-entry-title"><%= link_to board.title, board %></li>
          <% if signed_in? && current_user.admin? %>
              <li class="pull-right"><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <li class="pull-right"><%= link_to 'Edit', edit_board_path(board) %></li>
          <% end %>
        </ul>
      </article>
    <% end %>
    <%= will_paginate @boards %>
  </section>
  <section class="span3">
    <%= render "shared/site_info_panel" %>
    <%= render "shared/signin_panel" %>
    <%= render "shared/new_board_panel" %>
  </section>
</div>