<h1>Threads Marked for Review on "<%= @board.title %>"</h1>
<div class="row-fluid">
  <section class="span9">
    <% @marked_threads.each do |thread| %>
      <article class="marked-thread-info thread-box well">
        Title: <%= link_to thread.title, board_thread_path(thread) %> |
        Link: <%= link_to thread.link, thread.link %> |
        Posted by: <%= thread.user.name %> -
        <% if thread.user.board_permission(thread.board) %>
          <%= link_to "Edit Board Permissions?", user_board_permission_path(thread.user.board_permission thread.board) %>
        <% else %>
          <%= link_to "Add Board Permissions?", new_board_user_board_permission_path(thread.board) + "?user_id=#{thread.user.id}" %>
        <% end %> |
        <%= link_to "Edit Thread?", edit_board_thread_path(thread) %>
      </article>
    <% end %>
  </section>
  <section class="nav side-bar span3">
    <%= render "shared/board_info_panel" %>
    <%= render "shared/administration_panel" %>
  </section>
</div>