<h1>Comments Marked for Review on "<%= @board.title %>"</h1>
<div class="row-fluid">
  <section class="span9">
    <% @marked_comments.each do |comment| %>
      <% thread = comment.board_thread %>
      <article class="marked-comment-info thread-box well">
        Thread Title: <%= link_to comment.board_thread.title, board_thread_path(thread) %> |
        Posted by: <%= comment.user.name %> -
        <% if thread.user.board_permission(comment.board_thread.board) %>
          <%= link_to "Edit Board Permissions?", user_board_permission_path(comment.board_thread.user.board_permission thread.board) %>
        <% else %>
          <%= link_to "Add Board Permissions?", new_board_user_board_permission_path(comment.board_thread.board) + "?user_id=#{comment.board_thread.user.id}" %>
        <% end %>

        <div class="sample-comment">
          <%= comment.content %>
        </div>

        <%= link_to "Edit Comment?", edit_thread_comment_path(comment) %>
      </article>
    <% end %>
  </section>
  <section class="nav side-bar span3">
    <%= render "shared/board_info_panel" %>
    <%= render "shared/administration_panel" %>
  </section>
</div>