<p id="notice"><%= notice %></p>
<% threads = @board_threads %>
<div class="row-fluid">
  <section class="thread-list span9">
    <%= will_paginate @board_threads %>
    <% threads.each do |thread| %>
      <div class="thread-box well">
        <div class="thread-stuff">
          <div class="thread-title">
            <% if thread.link.nil? || thread.link.length == 0 %>
              <%= link_to thread.title, board_thread_path(thread) %>
            <% else %>
              <%= link_to thread.title, thread.link %>
            <% end %>
          </div>
          <div class="thread-date">Posted: <%= thread.created_at %></div>
          <div class="thread-comment-info">
            <div class="comments">
              <% comments = thread.thread_comments.take 3 %>
              <% comments.each do |comment| %>
                <article class="sample-comment">
                  <div class="comment-content">
                    <%= comment.content %>
                  </div>
                  <div class="comment-info">
                    By
                    <span class="commenter">
                      <%= comment.user.name %>
                    </span>
                    at
                    <span class="created_at">
                      <%= comment.created_at %>
                    </span>
                  </div>
                </article>
              <% end %>
            </div>
          </div>
          <span class="comment-number"><%= thread.thread_comments.size %> comments</span> |
          <%= link_to 'Read more?', thread %>
        </div>
      </div>
    <% end %>
    <%= will_paginate @board_threads %>
  </section>
  <section class="nav side-bar span3">
    <%= render "shared/board_info_panel" %>
    <%= render "shared/new_post_panel" %>
    <%= render "shared/signin_panel" %>
    <%= render "shared/administration_panel" %>
  </section>
</div>