<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        <% if @board.nil? %>
          Blueit
        <% else %>
          <%= @board.title %>
        <% end %>
      </a>
      <nav>
        <ul class="nav pull-right">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to "Boards", boards_path %></li>
          <% if signed_in? %>
            <li>
              <div class="user-sign-out">
                <div class="user-name active">
                  <%= link_to "Signed in as #{current_user.name}", current_user %>
                </div>
                <div class="sign-out-link pull-right">
                  <%= link_to "Sign out?", signout_path %>
                </div>
              </div>
            </li>
          <% else %>
            <li>
              <div class="user-sign-in">
                <div class="user-new-account active">
                  <%= link_to "Create an Account!", signup_path %>
                </div>
                <div class="sign-in-link pull-right">
                  <%= link_to "Or sign in?", signin_path %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>