<%= form_for(@user_level) do |f| %>
  <% if @user_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_level.errors.count, "error") %> prohibited this user_level from being saved:</h2>

      <ul>
      <% @user_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
