<h1>Listing user_levels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_levels.each do |user_level| %>
      <tr>
        <td><%= user_level.name %></td>
        <td><%= user_level.level %></td>
        <td><%= user_level.description %></td>
        <td><%= link_to 'Show', user_level %></td>
        <td><%= link_to 'Edit', edit_user_level_path(user_level) %></td>
        <td><%= link_to 'Destroy', user_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User level', new_user_level_path %>
