<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_level.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @user_level.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_level.description %>
</p>

<%= link_to 'Edit', edit_user_level_path(@user_level) %> |
<%= link_to 'Back', user_levels_path %>
