<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <% if signed_in? && current_user.admin? %>
    <div class="field">
      <span class="label">User level</span> <br />
      <%= collection_select(:user_level, :user_level_id, UserLevel.all, :id, :name) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password%><br>
    <%= f.password_field :password%>
  </div>
  <div class="field">
    <%= f.label :confirm_password%><br>
    <%= f.password_field :password_confirmation%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
