<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<% if signed_in? && current_user.admin? %>
  | <%= link_to 'Back to users', users_path %>
<% end %>
