<%= form_for(@board_thread, url: @form_submit_url) do |f| %>
  <% if @board_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board_thread.errors.count, "error") %> prohibited this board_thread from being saved:</h2>

      <ul>
      <% @board_thread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :link %>
  </div>

  <% if params[:action] == 'new' %>
    <%= f.fields_for ThreadComment.new do |b| %>
      <div class="field">
        <%= b.label :text %>
        <%= b.text_area :content %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
