<h1>Editing Thread</h1>

<%= render 'form' %>

<%= link_to 'Back to thread', @board_thread %> |
<% if signed_in? && current_user.at_least_site_or_board_moderator?(@board_thread.board) %>
  <%= link_to 'Back to marked threads list', board_marked_threads_path(@board_thread.board) %>
<% end %>
