<h1>Listing board_threads</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @board_threads.each do |board_thread| %>
      <tr>
        <td><%= link_to 'Show', board_thread %></td>
        <td><%= link_to 'Edit', edit_board_thread_path(board_thread) %></td>
        <td><%= link_to 'Destroy', board_thread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board thread', new_board_thread_path %>
