<p id="notice"><%= notice %></p>
<div class="report-confirmation">
  Are you sure you wish to mark this thread's title and/or link for review by a moderator?
  <br />
  <%= link_to "Yes, mark this thread.", mark_board_thread_path(@board_thread) %>
  <br />
  <%= link_to "No, take me back to the thread.", board_thread_path(@board_thread) %>
</div>