<p id="notice"><%= notice %></p>
<% thread = @board_thread %>
<div class="row-fluid">
  <section class="thread-container span9">
    <section class="thread-info well">
      <div class="thread-title">
        <%= link_to thread.title, thread.link %>
      </div>
      <div class="posted-info">
        Posted by 
        <span class="thread-poster">
          <%= thread.user.name %>
        </span>
        at
        <span class="created-at">
          <%= thread.created_at %>
        </span>
        <span class="report-thread">
          | <%= link_to "Report Thread", report_board_thread_path(@board_thread) %> |
        </span>
        <span class="permission-setter-link">
          <% if signed_in? && (current_user.admin? || current_user.at_least_board_moderator?(thread.board)) %>
            <% if thread.user.board_permission(thread.board) %>
              <%= link_to "Manage this user's permissions for this board?", user_board_permission_path(thread.user.board_permission thread.board) %>
            <% else %>
              <%= link_to "Add new permissions for this user on this board?", new_board_user_board_permission_path(thread.board) + "?user_id=#{thread.user.id}" %>
            <% end %>
          <% end %>
        </span>
      </div>
    </section>
    <section class="thread-comments">
      <% comments = @thread_comments %>
      <% comments.each do |comment| %>
        <article class="comment well">
          <div class="comment-content">
            <%= simple_format h(comment.content) %>
          </div>
          <div class="comment-info">
            By
            <span class="commenter">
              <%= comment.user.name %>
            </span>
            at
            <span class="created-at">
              <%= comment.created_at %>
            </span>
            <span class="report-thread">
              | <%= link_to "Report Comment", report_thread_comment_path(comment) %> |
            </span>
            <span class="permission-setter-link">
              <% if signed_in? && (current_user.admin? || current_user.at_least_board_moderator?(thread.board)) %>
                <% if thread.user.board_permission(thread.board) %>
                  <%= link_to "Manage this user's permissions for this board?", user_board_permission_path(thread.user.board_permission thread.board) %>
                <% else %>
                  <%= link_to "Add new permissions for this user on this board?", new_board_user_board_permission_path(thread.board) + "?user_id=#{thread.user.id}" %>
                <% end %>
              <% end %>
            </span>
          </div>
        </article>
      <% end %>
    </section>
    <%= will_paginate @thread_comments %>
  </section>
  <section class="side-bar span3">
    <%= render "shared/board_info_panel" %>
    <%= render "shared/thread_info_panel" %>
    <%= render "shared/signin_panel" %>
  </section>
</div>