@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";

// For a consistent, site-wide "list-entry" style
.list-holder.well {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.list-entry {
  padding-left: 1em;
  padding-right: 1em;
  background-color: #dddddd;
  border-radius: 5px;
  margin-top: 3px;
  overflow-x: auto;
}

// Boards#show styling
.thread-box.well {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.thread-title {
  font-size: 1.5em;
  font-weight: bold;
}
.thread-comment-info {
  padding-left: 1em;
}
.sample-comment {
  padding-left: 1em;
  padding-right: 1em;
  background-color: #dddddd;
  border-radius: 5px;
  margin-top: 3px;
  overflow-x: auto;
}
.comment-info {
  font-size: .85em;
}
.board-title {
  font-size: 2em;
  line-height: 1em;
}

// Boards#index styling
.thread-box.well.board-entry {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 2px;
}

// BoardThreads#show styling
.comment .comment-content {
  padding-left: 1em;
  padding-right: 1em;
  //background-color: #f5f5f5;
  border-radius: 5px;
}

.comment.well {
  background-color: #dddddd;
  border-radius: 5px;
  margin-top: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.thread-info.well {
  margin-bottom: 5px;
}