<%= form_for(@user_board_permission, url: @form_submit_url) do |f| %>
  <% if @user_board_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_board_permission.errors.count, "error") %> prohibited this user_board_permission from being saved:</h2>

      <ul>
      <% @user_board_permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  User: <span class="user-name">
    <%= @target_user.name %>
  </span>
  <br />
  Board: <span class="board-name">
    <%= @board.title %>
  </span>
  <div class="field">
    <%= f.label :can_read_board %>
    <%= f.check_box :can_read %>
  </div>
  <div class="field">
    <%= f.label :can_post_thread %>
    <%= f.check_box :can_post_thread %>
  </div>
  <div class="field">
    <%= f.label :can_post_comment %>
    <%= f.check_box :can_post_comment %>
  </div>
  <% if signed_in? && (current_user.admin? || current_user.board_admin?(@board)) %>
    <div class="field">
      <%= f.label :is_administrator %>
      <%= f.check_box :is_admin %>
    </div>
    <div class="field">
      <%= f.label :is_moderator %>
      <%= f.check_box :is_moderator %>
    </div>
    <div class="field">
      <%= hidden_field_tag(:user_id, @target_user.id.to_s) %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>