<h1>Editing User Board Permission</h1>

<%= render 'form' %>

<%= link_to 'Show', @user_board_permission %> |
<%= link_to "Back to permissions for #{@board.title}", board_user_board_permissions_path(@board) %>
<%= link_to "Back to #{@board.title}", board_path(@board) %>
