<h1>Listing Permissions for <%= @board.title %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_board_permissions.each do |user_board_permission| %>
      <tr>
        <td><%= user_board_permission.user.name %></td>
        <td><%= link_to 'Show', user_board_permission %></td>
        <td><%= link_to 'Edit', edit_user_board_permission_path(user_board_permission) %></td>
        <td><%= link_to 'Destroy', user_board_permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back to #{@board.title}", board_path(@board) %>