<p id="notice"><%= notice %></p>
<div class="user-board-permission">
  Board: <span class="board-title">
    <%= @user_board_permission.board.title %>
  </span>
  <br />
  User: <span class="user-name">
    <%= @user_board_permission.user.name %>
  </span>
  <div class="can-read">
    Can read board: <%= @user_board_permission.can_read %>
  </div>
  <div class="can-post-thread">
    Can create threads: <%= @user_board_permission.can_post_thread %>
  </div>
  <div class="can-post-comment">
    Can post comments: <%= @user_board_permission.can_post_comment %>
  </div>
  <div class="is-admin">
    Is an administrator: <%= @user_board_permission.is_admin %>
  </div>
  <div class="is-moderator">
    Is a moderator: <%= @user_board_permission.is_moderator %>
  </div>
</div>
<br />
<%= link_to 'Edit', edit_user_board_permission_path(@user_board_permission) %> |
<%= link_to "Back to permissions for #{@board.title}", board_user_board_permissions_path(@board) %>
<%= link_to "Back to #{@board.title}", board_path(@board) %>
