<% if signed_in? && current_user.at_least_site_or_board_moderator?(@board) %>
  <section class="side-box well">
    <div class="board-marked-threads-link"><%= link_to "Review reported threads", board_marked_threads_path(@board) %></div>
    <div class="board-marked-comments-link"><%= link_to "Review reported comments", board_marked_comments_path(@board) %></div>
  </section>
<% end %>