<section class="side-box well">
  <div class="board-title"><%= link_to @board.title, @board %></div>
  <div class="board-description"><%= @board.description %></div>
  <% if params[:controller] == 'boards' && params[:action] == 'show' %>
    <%= will_paginate @board_threads %>
  <% end %>
</section>