<% unless signed_in? %>
  <section class="side-box well">
    <div class="sign-in">
      <%= link_to 'Sign up', signup_path %> or <%= link_to 'Sign in', signin_path %> to start posting!
    </div>
  </section>
<% end %>