<section class="side-box well">
  <% if signed_in? %>
    <div class="site-description-signed-in">
      <p>Blueit is a site for people to exchange links and ideas about whatever topics they want. <%= link_to 'Make a board', new_board_path %> of your own and start sharing today!</p>
    </div>
  <% else %>
    <div class="site-description-signed-out">
      <p>Blueit is a site for people to exchange links and ideas about whatever topics they want. <%= link_to 'Sign up', signup_path %> and start sharing today!</p>
    </div>
  <% end %>
</section>