<section class="side-box well">
  <div class="board-title">
    <%= link_to @board_thread.title, @board_thread %>
  </div>

  <% if signed_in? %>
  <div class="make-new-comment">
    <%= link_to 'Add Comment', new_board_thread_thread_comment_path(@board_thread) %>!
  </div>
  <% end %>
  
  <%= link_to 'Back to post list', board_path(@board_thread.board) %>
  <%= will_paginate @thread_comments %>
</section>