<%= form_for(@thread_comment, url: @form_submit_url) do |f| %>
  <% if @thread_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thread_comment.errors.count, "error") %> prohibited this thread_comment from being saved:</h2>

      <ul>
      <% @thread_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Comment_here %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
