<h1>Editing Comment</h1>

<%= render 'form' %>

<%= link_to 'Back to thread', @thread_comment.board_thread %> |
<% if signed_in? && (current_user.at_least_site_or_board_moderator?(@thread_comment.board_thread.board)) %>
  <%= link_to 'Back to marked comments list', board_marked_comments_path(@thread_comment.board_thread.board) %>
<% end %>
