<h1>Listing thread_comments</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @thread_comments.each do |thread_comment| %>
      <tr>
        <td><%= link_to 'Show', thread_comment %></td>
        <td><%= link_to 'Edit', edit_thread_comment_path(thread_comment) %></td>
        <td><%= link_to 'Destroy', thread_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thread comment', new_thread_comment_path %>
