<p id="notice"><%= notice %></p>
<div class="report-confirmation">
  Are you sure you wish to mark this comment for review by a moderator?
  <br />
  <%= link_to "Yes, mark this comment.", mark_thread_comment_path(@thread_comment) %>
  <br />
  <%= link_to "No, take me back to the thread.", board_thread_path(@thread_comment.board_thread) %>
</div>