<h1>Sign In</h1>
<%= form_for(:session, url: sessions_path) do |f| %>
  <% if !signed_in? %>
    <% unless flash[:error].nil? %>
      <div id="error-explanation">
        <h2>There was a problem signing in.</h2>
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <%= f.label :email_address %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Sign in' %>

    <p>Don't have an account yet? <%= link_to 'Sign up here!', signup_path %></p>
  <% else %>
    <p>You're already signed in! <%= link_to 'Sign out?', signout_path, method: 'delete' %></p>
  <% end %>
<% end %>